<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
    <display-name>Livre</display-name>
	<servlet>
		<description> </description>
		<display-name>Save</display-name>
		<servlet-name>Save</servlet-name>
		<servlet-class>ma.projet.LivreController</servlet-class>
</servlet>
	   <servlet-mapping>
<servlet-name>Save</servlet-name>
<url-pattern>/Save</url-pattern>
</servlet-mapping>
<welcome-file-list>
<welcome-file>Livre.jsp</welcome-file>
</welcome-file-list>
</web-app>